.new-post {
  position: absolute;
  top: -7px;
  /*right: 135px;*/
  right: 9%;
  color: #3869B1;
  width: 150px
}

.main-title {
  font-size: 2.2em;
  color: white;
  margin-left: 100px;
}

.post-meta {
  margin-bottom: -20px;
  border-top: 1px solid #3869B1;
  padding-top: 10px;
}
