.non_button_nav_item {
  display: inline;
  margin-top: 13px;
  p {
    font-size: 11px;
  }
  a {
    font-size: 13px
  }
}

.login_button {
  width:100px;
}

.user_button {
  width:100px;
}

.categories_button {
  width: 100px;
}

.postit_brand {
  width: 75px;
}

.lead {
  border-bottom: 1px solid orange;
  padding-bottom: 12px;
}

.comment_well {
  min-height: 60px;
}



